:root{
    --primary-color: #2F2F5F;
    --bg-color: #ffffff;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Futura';
    background-color: white;
}

.filter-container{
    width: 277px;
    height: 100vh;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    padding-top: 20px;
    color: var(--primary-color);
}

.filter-title-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px 0 40px;
}

.reset-filter{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 2px;
    user-select: none;
}

.reset-filter:hover{
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
}

.reset-filter:active{
    box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.16);
}

.sub-filter-title{
    font-weight: bold;
    padding-bottom: 5px;
}

.price-slider > input, .rating-slider > input, .discount-slider > input{
    width: 100%;
}

.filter-group{
    margin-top: 20px;
    padding: 0 40px 0 40px;
}

hr{
    margin: 20px 40px 0 40px;
}

@media only screen and (max-width: 704px){
    .filter-container{
        display: none;
    }
}