:root{
    --primary-color: #2F2F5F;
    --bg-color: #ffffff;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Futura';
    background-color: white;
}

.footer-container{
    background-color: var(--primary-color);
    color: white;
    padding: 40px 0 40px 0;
}

.section-title{
    font-size: 24px;
    margin-top: 20px;
}

.footer-section{
    display: flex;
    flex-direction: column;
}

.footer-links{
    color: white !important; 
    text-decoration: none !important;
    padding-top: 5px !important;
}

.footer-links:hover{
    cursor: pointer !important;
    text-decoration: underline !important;
    color: white !important;
}

.extra-info{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.copy-write, .back-to-top{
    font-size: 12px;
    font-style: italic;
}