:root{
    --primary-color: #2F2F5F;
    --bg-color: #ffffff;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Futura';
    background-color: white;
}

.footer-container{
    background-color: var(--primary-color);
    color: white;
    padding: 40px 0 40px 0;
}

.section-title{
    font-size: 24px;
    margin-top: 20px;
}

.footer-section{
    display: flex;
    flex-direction: column;
}

a{
    color: white; 
    text-decoration: none;
    padding-top: 5px;
}

a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: white;
}

.extra-info{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}