.footer-container{
    background-color: var(--primary-color);
    color: white;
    padding: 40px 0 40px 0;
}

.section-title{
    font-size: 24px;
    margin-top: 20px;
}

.footer-section{
    display: flex;
    flex-direction: column;
}

.footer-links{
    color: white !important; 
    text-decoration: none !important;
    padding-top: 5px !important;
}

.footer-links:hover{
    cursor: pointer !important;
    text-decoration: underline !important;
    color: white !important;
}

.extra-info{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.copy-write, .back-to-top{
    font-size: 12px;
    font-style: italic;
}

.show-notification{
    z-index: 5;
}

.card{
    border-radius: 10px;
}

.card:hover{
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
}

.card:active{
    box-shadow: none;
}