:root{
    --primary-color: #2F2F5F;
    --bg-color: #ffffff;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Futura';
    background-color: white;
}

/* Header */
.top-nav-container{
    display: flex;
    flex-direction: column;
    user-select: none;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.06);    
}

.hide{
    display: none;
}

/* Top row */
.top-row{
    height: 40px;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 40px;
    font-size: 12px;
}

.language{
    border: 1px solid var(--primary-color);
    text-align: center;
    padding: 5px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
}

.language > select{
    border: none;
    color: var(--primary-color);
    outline: none;
}

.signin-btn{
    padding: 6px 10px 6px 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    user-select: none;
}

.signin-btn:hover{
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
}

.signin-btn:active{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

/* Middle row */
.middle-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 40px;
    height: 70px;
    color: white;
    border-top: 1px solid #f5f5f8;
    border-bottom: 1px solid #f5f5f8;
    background-color: var(--primary-color);
}

.middle-row-right, .middle-row-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.middle-row-right > a{
    color: white;
    text-decoration: none;
    font-size: 11px;
    font-style: italic;
    margin-left: 10px;
    letter-spacing: 1px;
}

.logo{
    font-size: 36px;
}

.menu-toggler{
    display: none;
}

.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid white;
    border-radius: 50px;
    overflow: hidden;
    background-color: white;
    margin-left: 20%;
}

.search-categories, .search-box{
    padding: 10px;
    border: none;
    outline: none;
}

.search-categories{
    background-color: var(--primary-color);
    color: white;
    border-radius: 50px 0 0 50px;
}

.search-box{
    font-size: 13px;
    width: 500px;
    box-shadow:  inset 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.cart-btn{
    background-color: white;
    color: var(--primary-color);
    border-radius: 5px;
    padding: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
    width: 80px;
    border: 1px solid var(--primary-color);
}

.cart-btn:hover, .gplay-btn:hover{
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: var(--primary-color);
    border-color: white;
}

.cart-btn:active, .gplay-btn:active{
    box-shadow: none;
}

.gplay-btn{
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 5px;
    margin-left: 20px;
    color: var(--primary-color);
    background-color: white;
}
/* 
.gplay-btn:hover{
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    border-color: white;
} */

/* Bottom row */

.bottom-row{
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    color: white;
}

.bottom-row-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--primary-color);
    height: 100%;
    padding: 0 40px 0 40px;
}

.bottom-row-links > a{
    color:white;
    text-decoration: none;
    margin: 0 40px 0 0;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cut-maker{
    height: 0;
    width: 0;
    border-bottom: 60px solid white;
    border-left: 60px solid var(--primary-color);
}

.top-nav-icons{
    font-size: 18px;
    padding-bottom: 2px;
}

/*  Media queries */
@media only screen and (max-width: 1405px){
    .search{
        margin-left: 10%;
    }

    .search-box{
        width: 250px;
    }
}

@media only screen and (max-width: 1155px){
    .contacts{
        display: none;
    }
}

@media only screen and (max-width: 840px){
    .cart-btn > div, .gplay-btn > div{
        display: none;
    }

    .cart-btn, .gplay-btn{
        width: auto;
        padding: 10px;
        border-radius: 50px;
    }

    .gplay-btn > .hide{
        display: block;
    }
}

@media only screen and (max-width: 704px){

    .bottom-row-links{
        flex-direction: column;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .bottom-row-links > a{
        flex-direction: row;
        width: 100%;
        padding: 10px;
        padding-left: 40px;
        justify-content: flex-start;
        border-radius: 0 50px 50px 0;
    }

    .bottom-row-links > a:hover{
        background-color: white;
        color: var(--primary-color);
    }
    .top-nav-icons{
        font-size: 14px;
        margin-right: 5px;
    }

    .bottom-row{
        height: auto;
    }

    .cut-maker{
        display: none;
    }

    .middle-row-left{
        width: 100%;
    }

    .search-box, .search{
        width: 100%;
    }

    .middle-row-right{
        display: none;
    }
    .hide{
        display: none;
    }

    .logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 18px;
    }

    .search-box, .search-categories{
        padding: 7px;
    }

    .top-row{
        padding: 0 5px 0 5px;
    }
    .middle-row{
        height: auto;
        padding: 10px;
    }
    .menu-toggler{
        margin: 0;
        padding: 0;
        margin-right: 20px;
        display: block;
    }

    .menu-toggler:hover{
        cursor: pointer;
    }

    .middle-row{
        border-bottom: none;
    }
}

@media only screen and (max-width: 450px){
    .middle-row-left{
        flex-direction: column;
        align-items: flex-start;
    }

    .search{
        margin: 0;
        margin-top: 10px;
    }
}