/* Header */
.top-nav-container{
    display: flex;
    flex-direction: column;
    user-select: none;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.06);    
}

.hide{
    display: none;
}

/* Top row */
.top-row{
    height: 40px;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 40px;
    font-size: 12px;
}

.language{
    border: 1px solid var(--primary-color);
    text-align: center;
    padding: 5px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
}

.language > select{
    border: none;
    color: var(--primary-color);
    outline: none;
}

.signin-btn{
    padding: 6px 10px 6px 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    user-select: none;
    color: var(--primary-color) !important;
}

.signin-btn:hover{
    cursor: pointer;
    background-color: var(--primary-color);
    color: white !important;
}

.signin-btn:active{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

/* Middle row */
.middle-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 40px;
    height: 70px;
    color: white;
    border-top: 1px solid #f5f5f8;
    border-bottom: 1px solid #f5f5f8;
    background-color: var(--primary-color);
}

.middle-row-right, .middle-row-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.middle-row-right > a{
    color: white;
    text-decoration: none;
    font-size: 11px;
    font-style: italic;
    margin-left: 10px;
    letter-spacing: 1px;
}

.logo{
    font-size: 36px;
}

.menu-toggler{
    display: none;
}

.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid white;
    border-radius: 50px;
    overflow: hidden;
    background-color: white;
    margin-left: 20%;
}

.search-categories, .search-box{
    padding: 10px;
    border: none;
    outline: none;
    box-shadow: none !important;
}

.search-categories{
    background-color: var(--primary-color);
    color: white;
    border-radius: 50px 0 0 50px;
    font-size: 13px;
}

.search-box{
    font-size: 13px;
    width: 500px;
    box-shadow:  inset 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.cart-btn{
    background-color: white;
    color: var(--primary-color);
    border-radius: 5px;
    padding: 4.9px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
    width: 80px;
    border: 1px solid var(--primary-color);
    position: relative;
    font-size: 25px;
}

#num-items-in-cart{
    position: absolute;
    top: 5px;
    left: 14px;
    color: white;
    font-size: 12px;
    width: 20px;
    text-align: center;
}

.cart-btn:hover, .gplay-btn:hover{
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: var(--primary-color);
    border-color: white;
}

.cart-btn:hover #num-items-in-cart{
    color: var(--primary-color);
}

.cart-btn:active, .gplay-btn:active{
    box-shadow: none;
}

.contacts, .contacts:hover{
    color: white  !important;
}


.gplay-btn{
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 5px;
    margin-left: 20px;
    color: var(--primary-color);
    background-color: white;
}
/* 
.gplay-btn:hover{
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    border-color: white;
} */

/* Bottom row */

.bottom-row{
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    color: white;
}

.bottom-row-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--primary-color);
    height: 100%;
    padding: 0 40px 0 40px;
}

.bottom-row-links > a{
    color:white !important;
    text-decoration: none !important;
    margin: 0 40px 0 0 !important;
    font-size: 12px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}

.cut-maker{
    height: 0;
    width: 0;
    border-bottom: 60px solid white;
    border-left: 60px solid var(--primary-color);
}

.top-nav-icons{
    font-size: 18px;
    padding-bottom: 2px;
}

#product-search{
    border: none !important;
}

#product-search:focus{
    box-shadow: none !important;
}

.active {
    text-decoration: underline !important;
}
/*  Media queries */
@media only screen and (max-width: 1405px){
    .search{
        margin-left: 10%;
    }

    .search-box{
        width: 250px;
    }
}

@media only screen and (max-width: 1155px){
    .contacts{
        display: none;
    }
}

@media only screen and (max-width: 848px){
    .cart-btn > div, .gplay-btn > div{
        display: none;
    }

    .cart-btn, .gplay-btn{
        width: auto;
        padding: 10px;
        border-radius: 50px;
    }

    .gplay-btn > .hide{
        display: block;
    }
}

@media only screen and (max-width: 740px){
    header{
        top: 0;
        position: sticky;
        width: 100%;
        z-index: 100;
    }

    .bottom-row-links{
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0;
    }

    .bottom-row-links > a{
        flex-direction: row !important;
        width: 100% !important;
        padding: 10px !important;
        padding-left: 65px !important;
        justify-content: flex-start !important;
        border-radius: 0 50px 50px 0 !important;
    }

    .top-nav-icons{
        font-size: 14px;
        margin-right: 5px;
    }

    .bottom-row{
        height: auto;
    }

    .cut-maker{
        display: none;
    }

    .middle-row-left{
        width: 100%;
    }

    .search-box, .search{
        width: 100%;
    }

    .middle-row-right{
        display: none;
    }
    .hide{
        display: none;
    }

    .logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 18px;
    }

    .search-box, .search-categories{
        padding: 7px;
        font-size: 12px;
    }
    .top-row{
        padding: 0 5px 0 5px;
    }
    .middle-row{
        height: auto;
        padding: 10px;
    }
    .menu-toggler{
        margin: 0;
        padding: 0;
        margin-right: 20px;
        display: block;
    }

    .menu-toggler:hover{
        cursor: pointer;
    }

    .middle-row{
        border-bottom: none;
    }
    /* .search-categories{
        background-color: white;
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
    } */
}

@media only screen and (max-width: 450px){
    .middle-row-left{
        flex-direction: column;
        align-items: flex-start;
    }

    .search{
        margin: 0;
        margin-top: 10px;
    }
}

.bottom-row-links > a:hover{
    text-decoration: underline !important;
    color: white !important;
}