.home-container{
    display: flex;
    flex-direction: column;
}

.home-content-section{
    display: flex;
    flex-direction: row;
}

.home-right-container{
    width: 100%;
    margin-bottom: 50px
}

.home-section-title{
    font-size: 24px;
    text-align: center;
    font-weight: 500;
}

.line{
    background-color: var(--primary-color);
    height: 2px;
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

.what-we-provide{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.category-card-container{
    display: flex;
    justify-content: center;
}

.offers-you-cant-run-from{
    /* margin-top: 20px; */
}

.offers-you-cant-run-from > .home-section-title{
    text-align: start;
}

.offer-cards{
    margin-top: 20px;
}

.best-selling > .home-section-title{
    text-align: start;
}

.best-selling-cards{
    margin-top: 10px;
}

.accessories-title{
    margin-top: 50px;
    margin-bottom: 30px;
}

.accessories-title > .home-section-title{
    font-size: 30px;
}

.accessories > .home-section-title,
.grooming > .home-section-title{
    text-align: start;
}

.grooming{
    margin-top: 50px;
}

.grooming-cards, .accessories-cards{
    margin-top: 30px;
}

/*  Media queries */
@media only screen and (max-width: 1405px){
    .home-section-title{
        font-size: 18px;
    }
    .line{
        width: 150px;
    }

    .accessories-title > .home-section-title{
        font-size: 24px;
    }
}

@media only screen and (max-width: 450px){
    .home-section-title{
        font-size: 16px;
    }
    .line{
        width: 100px;
    }
}

.carousel-control-prev, .carousel-control-next {
    background-color: transparent !important;
    border: none;
}