:root{
    --primary-color: #2F2F5F;
    --bg-color: #ffffff;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Futura';
    background-color: white;
}

.card-container{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.16);
}

.card-photo{
    width: 100%;
    height: 150px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title{
    font-size: 14px;
    color: var(--primary-color);
}

.add-to-cart-btn{
    width: 100%;
    border: 1px solid var(--primary-color);
    padding: 2px;
    text-align: center;
    border-radius: 5px;
    margin-top: 5px;
}

.add-to-cart-btn:hover{
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
}

.card-price{
    font-size: 12px;
    padding-top: 5px;
    color: darkred;
}

.seller-name{
    color: var(--primary-color);
    opacity: 0.7;
    font-size: 12px;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

a:hover{
    color: var(--primary-color);
    text-decoration: none;
}